.order-header{
    margin: 40px 0 25px 0;
}

.order-title{
    color: white;
    font-size: 24px;
    text-align: center;
}

.form-wrap{
    text-align: center;
}
.input-container{
    text-align: left;
    width: 220px;
    margin: 0 auto;
}
.input{
    padding: 3px 5px 4px 5px;
    /* height: 30px; */
    /* line-height: 60px; */
    /* border: 2px solid #005d00; */
    border:none;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}
.input:focus{
    outline: none;
}
.order-info{
    border-radius: 15px;
    padding: 10px;
    width: 220px;
    background-color: #557c3e;
    margin-bottom: 20px;
}
.order-info p{
    color: white;
    font-size: 16px;
}
#information{
    display: none;
}
.order label{
    color: white;
}
.order-btn{
    margin: 5px auto;
    width: 220px;
    padding: 3px 5px 5px 5px;
    color: #61122f !important;
    border: none;
    border-radius: 5px;
    background-color: #f6b319;
    display: block;
}
.order-btn:hover{
    background: #c59015;
}